<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ephesis&family=Vina+Sans&display=swap" rel="stylesheet">
  <title>Invader</title>
  <link rel="stylesheet" href="/css/invader.css">
</head>
<body>
  <%- include('header.ejs') %>
  
  <section class="container-page">
    <h1>The Rocket space invader</h1>
    <img class="fusee" src="../images/fusee.png" alt="fusee">
    <form class="configuration">
      
    </form>
    <div id="invader"></div>
    
  </section>
  
<script src="/js/invader.js"></script>
</body>
</html>